body{
    background-color:#e1e1f5;
    font-family: 游ゴシック体, 'Yu Gothic', YuGothic, 'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
    float:left;
}
*{
    box-sizing:border-box;
}
#continer{
    float:left;
}
#main{
    margin:0 10px;
    float:left;
}
.postlist{
    margin:0 0 5px 0;
    border:1px solid #354358;
    border-radius:3px;
    box-shadow:1px 1px 5px #92acc1;
    background-color:#fefeff;
    float:left;
}
.postlist-cat-div{
    width:100%;
    background-color:#e19600;
    float:left;
}
.postlist-cat-div div{
    margin:0;
    padding:5px;
    font-size:0.7em;
    color:#fefeff;
    float:left;
}
.postlist-meta-div{
    margin:0;
    padding:10px;
    font-size:0.7em;
    color:#657381;
    float:right;
}
.postlist-meta-div div{
    float:left;
}
.postlist-meta-div div span{
    margin:0 5px 0 0;
}
.postlist-meta-div div span:last-child{
    margin:0 0 0 0;
}
.postlist-meta-div div{
    float:left;
}
.postlist-meta-div div{
    float:left;
}
.postlist-meta-div div{
    float:left;
}
.postlist-meta-div div{
    float:left;
}
.postlist-meta-div div{
    float:left;
}
    float:left;
}
.postlist-cat-div div a{
    font-size:0.7em;
    color:#fefeff;
    text-decoration:none;
}
.postlist-wrap{
    width:100%;
    padding:20px 10px 10px 10px;
    float:left;
}
.postlist-title-a{
    width:80%;
    padding:0 5px 5px 0;
    display:block;
    font-size:0.9em;
    line-height:150%;
    text-decoration:none;
    color:#000a2a;
    float:left;
}
.postlist-img-a{
    width:20%;
    display:block;
    float:left;
}
.postlist-img-a img{
    width:100%;
    height:auto;
    float:left;
}

